.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.createWrapper {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.searchPanel {
  display: flex;
padding: 10px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;

  &:focus {
    outline: none;
    border-color: #0056b3;
  }
}

.btn,
.btnCreate,
.btnEdit,
.btnDelete,
.btnDisable {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.btnDisable {
  color: grey;
  background-color: #ccc;
  &:hover {
    background-color: #ccc;
  }
}

.btnCreate,
.btnEdit,
.btnDelete {
  background-color: #69b2ff;
}

.deleteText {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;
  color: red;
}

.iconWrapper {
  display: flex;
  gap: 8px;
  margin-left: 8px;
  align-items: center;
}

.crossIcon {
  display: flex;
  cursor: default;
  width: 16px;
  
  path {
    fill: red;
  }
}

.okIcon {
  display: flex;
  cursor: default;
  stroke: green;
}